Setting VAvailability to calendar collection

Before submitting an issue, [read the FAQ](https://github.com/caldav4j/caldav4j/wiki/FAQ.md)
then describe the issue using the following template

## Reproduce

Steps to reproduce the issue:

  - caldav4j version or commit : 0.9.1
  - server name and version | url : Baikal
  - link to code, including : 0.4.6
    
   * gists with proper highlight/indent, avoid inline code without highlight/indent
   * pull requests or git patches useful to reproduce the issue

  - link to HTTP trace (it's useful because not all servers implement ALL the specs)

## I expect
`
    public void setCalendarAvailability(VAvailability vAvailability, String collectionName) throws IOException {
    	PutMethod method = getMethodFactory().createPutMethod();
		method.setPath(collectionName);
		
		// Create a calendar
	    net.fortuna.ical4j.model.Calendar icsCalendar = new net.fortuna.ical4j.model.Calendar();
	    icsCalendar.getProperties().add(Version.VERSION_2_0);
	    icsCalendar.getProperties().add(new ProdId("-//Mozilla.org/NONSGML Mozilla Calendar V1.1//EN"));
	    //icsCalendar.getProperties().add(CalScale.GREGORIAN);
        icsCalendar.getComponents().add(vAvailability);
       // icsCalendar.getProperties().add();
       // caldavCollection.add(getHttpClient(), vFreeBusy, null);
		method.setRequestBody(icsCalendar);

		executeMethod(HttpStatus.SC_CREATED, method, true);
   	
    }
`
What do you expect 
  VAvailability added to collection
## Instead

What happens instead?
`` Exception in thread "main" java.io.IOException: Error executing method: org.osaf.caldav4j.methods.PutMethod@139ad8e HTTP response code: 409
	``

## Notes

Further notes you want to attach


@signalarun This is a server issue and not related to CalDAV4j. Refer to [MDN for what HTTP 409](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/409) which is for Conflicts. 

According to [https://icalendar.org/CalDAV-Access-RFC-4791/5-3-1-1-status-codes.html](https://icalendar.org/CalDAV-Access-RFC-4791/5-3-1-1-status-codes.html) 
409 (Conflict) - The client has provided a value whose semantics are not appropriate for the property.  This includes trying to set read-only properties;
Hence I thought its because of the way the request is formulated.

It's a possibility, but then can you attempt to see if it works without the VAvailability property? 

Actually, looking at that link you sent me, it's for a MKCALENDAR request, this is a PUT request that you are attempting, vastly different things, so, my previous suggestion that this was a server side conflict, still remains, due it being a PUT request.

I tried with this
`
RandomUidGenerator ug = new RandomUidGenerator();
		Uid uid = ug.generateUid();// TODO CDAC Arun Gopi
		vAvailability.getProperties().add(uid);
		caldavCollection.add(getHttpClient(), vAvailability, null);
`
Server returns :
 
Exception in thread "main" org.osaf.caldav4j.exceptions.BadStatusException: Bad status 400 invoking method PUT /baikal/html/cal.php/calendars/bob/default/e202d5af-0e36-49c0-87e8-404904bc81cc.ics
	at org.osaf.caldav4j.util.MethodUtil.StatusToExceptions(MethodUtil.java:44)
	at org.osaf.caldav4j.CalDAVCollection.add(CalDAVCollection.java:399)
	at org.osaf.caldav4j.CalDAVCollection.add(CalDAVCollection.java:341)
	at org.app.calendar.AcsoftCalendar.setCalendarAvailability(AcsoftCalendar.java:365)
	at org.app.CalendarApp.main(CalendarApp.java:259)




[400](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/400) is a Bad Request Status, something wrong with your request body probably.

Looking at the examples in [RFC 7953](https://tools.ietf.org/html/rfc7953#section-3.1), could it be that the server has a requirement for specifying the Availibility BEGIN and END? Also, firstly does the server support vavailibility?

Tried this 
`
BEGIN:VCALENDAR
VERSION:2.0
PRODID:-//Example Corp.//CalDAV Client//EN
BEGIN:VAVAILABILITY
DTSTAMP:20060206T001102Z
DTSTART;TZID=US/Eastern:20060102T100000
DURATION:PT1H
SUMMARY:Event #1
Description:Go Steelers!
UID:74855313FA803DA593CD579B@example.com
END:VAVAILABILITY
END:VCALENDAR `
location : 10.176.30.172:8080/baikal/html/cal.php/calendars/arun/personal/9.ics
through postman, but the response is
` <?xml version="1.0" encoding="utf-8"?>
  <d:error xmlns:d="DAV:" xmlns:s="http://sabredav.org/ns">
  <s:sabredav-version>3.1.3</s:sabredav-version>
  <s:exception>Sabre\DAV\Exception\BadRequest</s:exception>
  <s:message>You are not allowed to create components of type: VAVAILABILITY here</s:message>
  </d:error>
 `

Baikal server supports vavailability.
I too varified by options request and obtained the following which shows it supports vavailability.
dav →1, 3, extended-mkcol, access-control, calendarserver-principal-property-search, calendar-access, calendar-proxy, calendar-auto-schedule, _**calendar-availability**_, addressbook

According to the [RFC 7953, Section 7.2.4](https://tools.ietf.org/html/rfc7953#section-7.2.4), there's a clause about using it on the user's inbox, which means the URI is supposed to be: `/baikal/html/cal.php/calendars/arun/inbox`

Actually, it can also be for a collection/calendar, i.e. in your case `/baikal/html/cal.php/calendars/arun/personal`

Baikal admin console doesn't provide  permissions customization

Through the above url the permissions cannot be changed.