The library is not working with ical4j v3.0.1 

Library fails to work when we try to include ical4j v3.0.1.

This is quite possibly related to #79 . But could you elaborate more on the issue at hand.

@signalarun which are the main reasons for changing to v3.0.1 ?


@TheAntimist and @ioggstream only ical4j v2.x.x works with caldav4j, 3.x.x and above is not compatible with current version of caldav4j. 
Conflicts was shown at UidGenerator functions. 

@signalarun could you please:

 -  report all those infos in the issue ?
- provide eg. a stack-trace?

Thanks!
R.



Sure

`
package org.xx.calendar;


//import net.fortuna.ical4j.util;
import net.fortuna.ical4j.model.property.Uid;

import java.util.UUID;

/**
 * Extract from RFC7986:
 *
 * <pre>
 * The description of the "UID" property in [RFC5545] contains some
 * recommendations on how the value can be constructed.  In particular,
 * it suggests use of host names, IP addresses, and domain names to
 * construct the value.  However, this is no longer considered good
 * practice, particularly from a security and privacy standpoint, since
 * use of such values can leak key information about a calendar user or
 * their client and network environment.  This specification updates
 * [RFC5545] by stating that "UID" values MUST NOT include any data that
 * might identify a user, host, domain, or any other security- or
 * privacy-sensitive information.  It is RECOMMENDED that calendar user
 * agents now generate "UID" values that are hex-encoded random
 * Universally Unique Identifier (UUID) values as defined in
 * Sections 4.4 and 4.5 of [RFC4122].
 *
 * The following is an example of such a property value:
 *
 * UID:5FC53010-1267-4F8E-BC28-1D7AE55A7C99
 *
 * </pre>
 */
public class RandomUidGenerator implements UidGenerator {

    @Override
    public Uid generateUid() {
        return new Uid(UUID.randomUUID().toString());
    }
}
`
The above class is implemented in ical4j 3.0.0. I am using v2.1.5. so I just developed the above class and used with v2.1.5. I am left with using v3 because after upgrading from v2 many errors creep in eg
`Creating  event..
121 [main] INFO net.fortuna.ical4j.util.Configurator - ical4j.properties not found.
Exception in thread "main" java.lang.NoSuchMethodError: net.fortuna.ical4j.model.PropertyList.getProperty(Ljava/lang/String;)Lnet/fortuna/ical4j/model/Property;
	at org.osaf.caldav4j.util.ICalendarUtils.addOrReplaceProperty(ICalendarUtils.java:403)
	at CalendarApp.main(CalendarApp.java:110)
`   


@signalarun Not sure what that issue is on `addOrReplaceProperty` but, I could not reproduce this issue, after a successful upgrade. Regarding the UidGenerator, it is not explicitly used by us, anywhere.

@TheAntimist Regarding UidGenerator its true.Its used by me.

@signalarun I have noticed the UidGenerator change, but it doesn't concern CalDAV4j, since we do not use that class anywhere specifically. Though, thanks for the heads up.

@TheAntimist 
```java
		Random r = new Random();
	    	int randomHour = r.nextInt(12);
	    	
			String eventName = "Dept Meeting";
			System.out.println("Creating  event..");
			// create date for event
	       	Date BEGIN_DATE = ICalendarUtils.createDateTime(2018, 8, 17, randomHour,0, null, true);
			Dur DURATION = new Dur("3H"); 
			
	    	VEvent  meetingEvent = new VEvent(BEGIN_DATE, DURATION,  eventName);
	    	//Description eventDesc = new Description("Software discussion");
	    	//ICalendarUtils..addOrReplaceProperty(meetingEvent, eventDesc);
	    	meetingEvent.getProperties().add(new Description("Software discussion"));
	    	
	    	// Adding organizer
	    	ParameterList pl = new ParameterList();
	    	pl.add(PartStat.ACCEPTED);
	    	Organizer organizer = new Organizer(pl,URI.create("mailto:alice@acme.com"));
	    	organizer.getParameters().add(new Cn("Alice"));
	    	organizer.getParameters().add(Role.REQ_PARTICIPANT);
	        meetingEvent.getProperties().add(organizer);
	 	    	
	    	ParameterList pl2 = new ParameterList();
	    	pl2.add(PartStat.NEEDS_ACTION);
	    	Attendee a2 = new Attendee(pl2,URI.create("mailto:joy@acme.com"));
	    	a2.getParameters().add(new Cn("Joy"));
	    	a2.getParameters().add(Rsvp.TRUE);
	    	a2.getParameters().add(Role.REQ_PARTICIPANT);
	    	meetingEvent.getProperties().add(a2);
	    
	    	ParameterList pl3 = new ParameterList();
	    	pl3.add(PartStat.ACCEPTED);
	    	Attendee a3 = new Attendee(pl3, "mailto:john@acme.com");
	    	a3.getParameters().add(Role.REQ_PARTICIPANT);
	    	a3.getParameters().add(new Cn("John"));
	    	meetingEvent.getProperties().add(a3);
	    	
	    	// Adding a resource as an attendee
	    	ParameterList pl4 = new ParameterList();
	    	pl4.add(PartStat.ACCEPTED);
	    	Attendee a4 = new Attendee(pl4, "mailto:room@acme.com");
	    	a4.getParameters().add(new Cn("Room 104"));
	    	a4.getParameters().add(Role.REQ_PARTICIPANT);
	    	a4.getParameters().add(CuType.RESOURCE);
	    	meetingEvent.getProperties().add(a4);

		RandomUidGenerator ug = new RandomUidGenerator();
		Uid uid = ug.generateUid();// TODO CDAC Arun Gopi
		event.getProperties().add(uid);
               caldavCollection.add(getHttpClient(), event, null);

```
produces 
``` 
[main] INFO net.fortuna.ical4j.util.Configurator - ical4j.properties not found.
Exception in thread "main" java.lang.NoSuchMethodError: net.fortuna.ical4j.model.PropertyList.getProperty(Ljava/lang/String;)Lnet/fortuna/ical4j/model/Property;
	at org.osaf.caldav4j.util.ICalendarUtils.getPropertyValue(ICalendarUtils.java:252)
	at org.osaf.caldav4j.util.ICalendarUtils.getUIDValue(ICalendarUtils.java:243)
	at org.osaf.caldav4j.util.ICalendarUtils.getUIDValue(ICalendarUtils.java:211)
	at org.osaf.caldav4j.CalDAVCollection.add(CalDAVCollection.java:359)
	at org.osaf.caldav4j.CalDAVCollection.add(CalDAVCollection.java:341)
	at org.cdac.krc.calendar.AcsoftCalendar.createEvent(AcsoftCalendar.java:215)
	at org.cdac.krc.calendar.AcsoftCalendar.setCalendarEvent(AcsoftCalendar.java:303)
	at CalendarApp.main(CalendarApp.java:151)
```
If ical4j v3.0.1 is used.


@signalarun Was able to reproduce this issue on 0.9.1. To further note, this has been in version 1.0-SNAPSHOT, i.e. the [httpclient-dev branch](https://github.com/caldav4j/caldav4j/tree/http4client-dev) or related to #63 and #79 . Once these issues are closed, will push an update to the maven repo.

Until the releases are pushed, can you please use iCal4j v2.0.0? That is the only solution I can see to this issue, until a new release for CalDAV4j is released.

Ok.